.mailchimpForm{
  width: 350px;
  padding: 15px;
  margin: 0px auto;
  border: 1px rgba(200,200,200, 0.3) solid;
  border-radius: 3px;
  box-shadow: 0px 0px 6px -3px lightgray;
  background: rgba(240,240,240,0.2);

  :global .dark-theme :local &{
    background: rgba(0,0,0,0.1);
    box-shadow: none;
    border: 1px rgba(200,200,200, 0.3) solid;
  }

  @media (--phone) {
    width: 100%;
    border-color: rgba(200,200,200, 0.3);
  }

  img{
    width: 100px;
    margin: 0px auto;
  }

  h2{
    display: block;
    margin: 5px 0px;
    color: #D26464;
    font-family: 'Almarai', sans-serif !important;
    text-align: center;

    :global .dark-theme :local &{
      color: rgba(234, 220, 91);
    }

    @media (--phone){
      font-size: 14pt;
    }
  }
  p{
    font-family: 'Dubai Light', sans-serif !important;
  }

  .inputWraper{
    display: flex;
    flex-direction: column;
    justify-content: center;

    input{
      padding: 8px;
      margin: 2px;
      color: #D26464;
      background: inherit;
      border: 1px rgba(200,200,200, 0.7) solid;
      text-align: center;

      :global .dark-theme :local &{
        color: rgba(234, 220, 91);
      }
    }
    button{
      padding: 8px;
      color: white;
      background: rgba(210, 100, 100, 0.7);
      border-width: 0px;
      cursor: pointer;

      :global .dark-theme :local &{
        color: black;
        background: rgba(234, 220, 91);
      }

      &:hover{
        background: lightgray;
      }
    }

  }
  .inputWraperOff{
    display: none;
  }
  .mailchimpState{
    display: none;
    padding: 1px;
    color: yellowgreen;
    background: rgba(0,255,0, 0.1);
    border-right: 8px yellowgreen solid;
    border-radius: 5px;
  }
  .mailchimpStateOff{
    display: block;
  }
}
