.mobileMenuContainer {
  display: none;

  @media (--phone) {
    display: flex;
  }
}

.desktopMenuContainer {
  display: block;

  @media (--phone) {
    display: none;
  }
}


.menu {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  list-style: none;
  border-left: 1px solid;
  margin-left: 18px;

  li {
    margin: 0 12px;
  }

  &Trigger {
    margin-right: 10px;
    padding: 0;
    line-height: 0;
    background: none;
    color: inherit;
    border: none;
    box-shadow: none;
    outline: none;
    appearance: none;
    cursor: pointer;
  }

  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.mobileMenu {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  background: #fafafa;
  list-style: none;
  z-index: 99;
  transition: all 1s ease;

  :global .dark-theme :local & {
    background: var(--dark-background);
  }

  li {
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-decoration: none;

    a {
      padding: 10px 80px;
      font-size: 16pt;
      font-family: 'Almarai', sans-serif;
    }
  }

  .closeMobileMenu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    color: rgba(250,100,100);
    font-size: 16pt;
    text-align: center;

    :global .dark-theme :local & {
      color: rgba(234, 220, 91);
    }
  }
}

.themeToggle {
  background: none;
  color: inherit;
  border: none;
  box-shadow: none;
  line-height: 0;
  padding: 0 5px;
  appearance: none;
  outline: none;
}

.subMenuTrigger {
  background: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  appearance: none;
}

.subMenu {
  position: absolute;
  max-width: 300px;
  background: #fafafa;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .12);
  margin: 0;
  padding: 5px;
  list-style: none;
  border-radius: 5px;
  top: 35px;
  right: 70px;
  overflow: hidden;
  z-index: 99;

  :global .dark-theme :local & {
    background: var(--dark-background-secondary);
  }

  li {
    text-align: left;
    margin: 0;
    white-space: nowrap;

    a {
      padding: 10px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      cursor: pointer;

      :global .dark-theme :local & {
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.menuArrow {
  display: inline-block;
  font-family: 'Inter UI';
  margin-left: 5px;
  transform: rotate(90deg);
}
