.post {
  width: 100%;
  max-width: 800px;
  padding: 10px 20px 20px;
  margin: 0px auto 20px;
  border-bottom: 1px solid rgba(220,220,255,0.8);
  border-radius: 3px;
  text-align: right;

    :global .dark-theme :local & {
      border-color: var(--dark-border-color);
      box-shadow: none;
    }
  @media (--phone) {
    .meta{
      .postDate, .postAuthor{
        top: -30px;
      }
      .postDate{
        top: -10px;
      }
      .tag{
        font-size: 8pt !important;
      }
    }
  }
  @media (--tablet) {
    max-width: 660px;
  }

  h1 {
    font-family: 'Almarai', sans-serif;

    :global .dark-theme :local & {
      color: rgba(220, 220, 220, 1);
    }
  }

  .title {
    margin: 10px 0px -10px;
    a {
      width: 100%;
      color: rgba(50, 50, 50, 1);
      text-decoration: none;
      font-family: 'Almarai', sans-serif;

      :global .dark-theme :local & {
        color: rgba(220, 220, 220, 1);
      }
    }
  }

  img {
    margin-bottom: 40px;
    border-radius: 3px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
  }
}

.meta {
  height: 50px;
  margin-top: -30px;

  .postDate, .postAuthor{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 3px 0px;
    font-size: 13pt;
  }
  .postDate{
    top: 30px;
    direction: ltr;
  }
  .underscore{
    color: red;

    :global .dark-theme :local & {
      color: rgba(234, 220, 91);
    }
  }
  .tags {
    margin-top: 30px;
    opacity: 0.8;

    .tag {
      display: inline-block;
      padding: 2px 8px;
      margin: 15px 15px 0px 0px;
      background: rgba(200,200,200,0.4);
      border: 1px rgba(200,200,200,0.3) solid;
      border-right: 4px rgba(255, 30, 30, 0.5) solid;
      border-radius: 3px;
      font-size: 10pt;

      :global .dark-theme :local & {
        color: rgba(200,200,230);
        background: rgba(150,150,150,0.2);
        border-right-color: rgba(234, 220, 91);
      }

      &:hover{
        color: rgba(255, 30, 30, 0.8);
        transform: scale(1.1);
      }

      .hashtag{
        color: red;

        :global .dark-theme :local & {
          color: rgba(234, 220, 91);
        }
      }
    }
  }
}


.postContent {
  position: relative;
  font-family: sans-serif;

  p{
    font-family: 'Dubai Regular', serif;
    font-size: 20px;
    font-weight: 100;
  }

  ul>li{
    font-size: 15pt;
    font-weight: 600;
    font-family: 'Almarai', sans-serif;
    color: rgba(210,100,100);

    :global .dark-theme :local & {
      color: rgba(234, 220, 120);
    }
  }
}
