:root {
  /* light theme color */
  --light-background: rgba(251,251,251);
  --light-background-secondary: #eaeaea;
  --light-color: #333;
  --light-color-secondary: #999;
  --light-border-color: rgba(220,220,220, 0.1);

  /* dark theme colors */
  --dark-background: #2D3748;
  --dark-background-secondary: #3b3d42;
  --dark-color: rgba(220, 220, 220, 1);
  --dark-color-secondary: #73747b;
  --dark-border-color: rgba(220,220,220, 0.2);

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width < 900px);
